# Archivos grandes comunes a ignorar
*.zip
*.tar.gz
*.rar
*.psd
*.ai
*.bin
*.iso

# Entornos de desarrollo
.env*.local
.env

# Dependencias
node_modules/
.next/
out/
dist/

# Cache
.cache/

# Sistema
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?